.inventory-manager {
	background-color: brown;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
}

.contents {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(4, 1fr);
}

.slot {
	--slot-size: 12px;

	background-color: rgba(black, 0.2);
	height: calc(var(--slot-size) * 4);
	outline-color: transparent;
	outline-style: solid;
	outline-width: 4px;
	position: relative;
	transition-duration: 0.1s;
	transition-property: outline-color;
	width: calc(var(--slot-size) * 4);

	&.is-hovered {
		outline-color: green;
	}

	.item {
		align-items: center;
		background-color: rgba(black, 0);
		cursor: pointer;
		display: flex;
		inset: 0;
		justify-content: center;
		position: absolute;
		transition-duration: 0.1s;
		transition-property:
			background-color,
			opacity;

		&:hover {
			background-color: rgba(black, 0.2);
		}

		&.is-dragging {
			opacity: 0.3;
		}
	}
}
